/* Variables for green color scheme */
$light-green: #4CAF50;;
$dark-green: #388E3C;

$primary-color: #4CAF50;
$secondary-color: #555;
$background-color: #f2f2f2;
$form-bg-color: white;
$border-radius: 5px;

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f4f4f4;
}

nav a.active {
  background-color: $primary-color;
  color: #fff;
}

.container.main {
  margin-top: 100px;
  text-align: center;
}

.container.main h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.container.main p {
  font-size: 20px;
  margin-bottom: 40px;
}

.container.main a.button {
  background-color: $primary-color;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

main {
	padding: 50px;
	background-color: #fff;

	table {
		border-collapse: collapse;
		width: 100%;
        margin-top: 50px;
		margin-bottom: 20px;

		th, td {
			border: 1px solid $light-green;
			padding: 10px;
			text-align: left;
		}

		th {
			background-color: $light-green;
			color: #fff;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: $light-green;
			color: #fff;
		}
	}
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  nav {
    margin-top: 20px;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
  }
  nav li {
    margin: 10px 0;
  }
  .container.main {
    margin-top: 80px;
  }
  .container.main h1 {
    font-size: 36px;
  }
  .container.main p {
    font-size: 16px;
  }
  .container.main a.button {
    font-size: 16px;
    padding: 10px 20px;
  }
}